*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
.content h2{
    color:darkolivegreen;
    padding-left:600px;
}
.p{
    justify-content:right;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: url(ww.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul li{
list-style: none;
display :inline-block;
padding: 10px 25px;
font-weight: bold;                                                              ;
}
    nav ul li a:hover{
        color:brown;
        transition: 0.5s;
    }
.content
{
    position: absolute;
    top:30%;
    left:10%

}
h2{
    color:darkred;
}
h1{
    color:darkred;
}
h4{
    color:palevioletred;
    padding-top:10px;
    padding-bottom: 5px;
    text-decoration: underline;
}
.about
{
    
    width: 100%;
    padding: 100px 0px;

}
.main{
    width: 1000px;
    display: flex;  
    margin: 0 auto;
    align-items: center;
}
.about text{
   letter-spacing: 1px;
   line-height: 20px;
   font-size: 18px;
   margin-bottom: 40px;
}
button{
    background-color: palevioletred;
    font-size: 15px;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 15px;
    border-radius: 20px;
}

.skills
{
   
    height: 70vh;
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
    margin: auto;
}

.container{
display: flex;
gap:60px;
animation: scroll 20s linear infinite;
}
.skills h1{

    text-align: center;
}
.card{
    border-radius: 30px;
    min-height: 200px;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.card:nth-child(odd){
    background: linear-gradient(-229deg,green,pink);
}
.card:nth-child(even){
    background: linear-gradient(-229deg,pink,orange);
}
@keyframes scroll{
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*2));
    }
}
.box {
height:100vh;
}

.box h1{
    text-align: center;
}
.testimonials{
    display: flex;
    min-height:400px ;
    align-items: center;
    justify-content: center;
}
.test{
    height: 360px;
    width:330px;
    padding: 20px 30px;
    background-color: rgb(red, green, blue);
    margin:15px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.box h5{
    font-size: 30px;
    margin-bottom: 20px;
}
.box p{
    line-height:16px;
    margin-bottom: 20px;
    font-size:20px;
}
.project{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
h1{
    margin-bottom: 10px;
    text-align: center;
}
.slide{
    border:1px solid rgb(242, 240, 240);
    width: 380px;
    height: 400px;
    border-radius: 20px;
}
.slide h5{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.slide img{
    padding: 5px;
    margin-left: 40px;
    width: 300px;
    height: 300px;
}
.contact-container h1{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            color:darkred;
        }
        .getin{
            display: flex;
            justify-content: center;
            padding-top: 40px;
        }
        .refer p{
            padding: 13px;
            line-height: 1.5rem;
        }
        .refer h2{
            padding: 10px;
        }
        #box{
            height: 30px;
            width: 550px;
            border-radius: 5px;
            border: 1px solid rgb(120, 119, 119);
        }
        #bca{
            font-size: 20px;
            color: darkred;
        }
        .message{
            height: 30px;
            width: 550px;
            background-color: darkred;
            border: 1px solid darkred;
            color: white;
            border-radius: 5px;
            font-size: 15px;
        }
        #textbox{
            border-radius: 5px;
            border: 1px solid rgb(120, 119, 119);
        }